<div>
  <div>
    <h1>
      Home
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Create a room
    </h2>

    <form action="/insert_room" method="post">
      <button>
        Create room
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Re-join a room you left
    </h2>

    <form action="/re_join_room" method="post">
      <div>
        <label for="room_id_box">
          Room
        </label>

        <input type="text" id="room_id_box" name="query_room_id">
      </div>

      <button>
        Re-join room
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Join a room for the first time
    </h2>

    <form action="/join_room" method="post">
      <div>
        <label for="room_id_box">
          Room
        </label>

        <input type="text" id="room_id_box" name="query_room_id">
      </div>

      <div>
        <label for="room_password_id_box">
          Room password
        </label>

        <input type="text" id="room_password_id_box" name="query_room_password_id">
      </div>

      <button>
        Join room
      </button>
    </form>
  </div>
</div>